body {
    font-family: Arial;
    background-color: #a7a7a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color: #2c3e50;
    text-align: center;
}

label {
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

h3 {
    margin-top: 20px;
    color: #2c3e50;
}
